{% extends 'LearnCard/base.html' %}
{% block content %}
<h1 class="mb-4 ps-4">О сайте</h1>
<p class="mb-4 ps-4">
Корейский язык — это уникальный и богатый язык, являющийся официальным в Южной Корее и Северной Корее.
Изучение корейского языка открывает двери к богатой культуре, истории, традициям, а также популярной современной культуре — K-pop, корейским драмам и кино.
<br><br>
  Особое значение имеет изучение слов — это фундамент для овладения языком. Хороший запас лексики позволяет свободнее общаться, лучше понимать речь носителей и погружаться в культурные особенности страны. Использование методов, таких как карточки для запоминания слов, делает процесс обучения более эффективным и интересным.
Преимущества использования карточек для изучения слов:
<ul class="ms-4">
  <li>Активное повторение: Регулярное просматривание карточек помогает закрепить слова в долговременной памяти.</li>
<li>Обучение по принципу интервальных повторений: Карточки можно повторять с увеличивающимися интервалами, что повышает эффективность запоминания.</li>
<li>Визуальное восприятие: Наличие изображений или ассоциаций на карточках помогает лучше понять и запомнить значение слова.</li>
</ul>
</p>
<p class="mb-4 ps-4">
Использование карточек — это отличный способ систематически расширять свой словарный запас корейского языка, делая процесс обучения более структурированным и мотивирующим.
</p>
{% endblock %}